@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}
    <h1 class="text-center">Vitec</h1>
    <div>
        <section class=" center-block">
            <img src="~/images/testabout.png" alt="Info" />
        </section>
    </div>
<h4 class="text-center">Med læse- og skriveværktøjet IntoWords kan du læse ubesværet og forbedre din skrivning - på dansk og andre sprog.</h4>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://www.mv-nordic.com/dk/bloggen/mindview-at-mere-end-et-mindmapping-program/">
                <img src="~/images/MIndview_test-555x300.jpg" alt="Mindmapping" style="width:200px" />
            </a>
            <h3>
                03.07.2019
                <br />
                VIGTIGT: SPIKE Prime-lancering udsat
            </h3>
            <div class="caption">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://www.mv-nordic.com/dk/bloggen/vigtigt-spike-prime-lancering-udsat/">
                <img src="~/images/SPIKE-Prime-udsat-555x300.jpg" alt="Lancering" style="width:200px" />
            </a>
            <h3>
                04.07.2019
                <br />
                MindView AT – mere end et mindmappingprogram
            </h3>
            <div class="caption">
            </div>
        </div>
    </div>
</div>



